.beta{
	background: red;
	color: white;
	display: inline-block;
	font-size: 0.75rem;
	font-family: sans-serif;
	padding: 2px 6px;
	border-radius: 25px;
	vertical-align: super;
	margin-left: 5px;
}
.dark .beta{
	background: darkred;
}

#ads{
	font-size: 80pt;
	line-height: 80pt;
	background: linear-gradient(180deg, rgba(75,44,255,1) 55%, rgba(250,255,0,1) 45%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	text-align: center;
	margin-bottom: -20px;
	font-family: 'Lobster', cursive;
	filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.5));
}
.search_wrapper{
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
	float: right;
	height: 50px;
}
#search{
	height: 100%;
	display: inline-block;
	fill: var(--contrast-color);
}
#search > svg{
	transition: 0.4s;
	height: 80%;
}
#search:hover > svg{
	fill: #0077FF;
}
#search:hover{
	animation: search 1s forwards;
}
@keyframes search{
	0%{
		transform: rotateZ(0deg);
	}
	25%{
		transform: rotateZ(25deg);
	}
	75%{
		transform: rotateZ(-15deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}

.slider{
	width: 75vw;
}

@media all and (max-width: 500px) {
	#ads{
		font-size: 40pt;
		margin-top: 10px;
	}
	.search_wrapper{
		margin-right: 10px;
	}
	.slider{
		width: 100vw;
	}
	.slider__indicators li{
		height: 6px !important;
	}
}

.dark .slider__indicators li{
	background-color: rgb(255 255 255 / 50%);
}
.dark .slider__indicators li.active{
	background-color: rgb(255 255 255 / 90%);
}
