html{
	overflow: hidden;
}
:root{
	--my-message: lightblue;
	--foreign-message: #b261ff;
	--info-message: #00c0ff;
	--info-message-new: hotpink;
}
.dark:root{
	--my-message: #2a2aa7;
	--foreign-message: #6e18c0;
	--info-message: #3e7eff;
	--info-message-new: red;
}
#chats-wrapper{
	display: flex;
	top: 70px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	background: url(https://oir.mobi/uploads/posts/2022-08/1661337097_1-oir-mobi-p-fon-dlya-telegram-oboi-1.png);
	background-size: cover;
}
.dark #chats-wrapper{
	background: url(https://oir.mobi/uploads/posts/2022-08/1661337069_2-oir-mobi-p-fon-dlya-telegram-oboi-2.jpg);
}
#chats{
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px 0;
	width: 25%;
	min-width: 300px;
	background: var(--details_content);
	transition: all 1s, transform 0.5s;
	overflow: hidden;
	white-space: nowrap;
	overflow: auto;
}
#chats .chat{
	height: 55px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 6px;
	cursor: pointer;
	transition: background 0.12s, color 1s;
	color: var(--contrast-color);
	position: relative;
}
#chats .chat:hover{
	background: var(--details_border);
}
#chats .chat.active{
	background: var(--details_border);
}
#chats .chat > .chat-icon{
	height: 90%;
	aspect-ratio: 1 / 1;
}
#chats .chat > .chat-icon > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
#chats .chat .notification-dot{
	position: absolute;
	right: 5px;
}
#chats .chat .notification-dot.hidden{
	opacity: 0;
}


#chat-body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
}
#chat-body.show{
	opacity: 1;
}
#chat-body #chat-info{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	background: var(--menu-el);
	color: var(--contrast-color);
	position: relative;
	font-size: 14pt;
	transition: 1s;
}
#chat-body #chat-info #back-button{
	position: absolute;
	left: 5px;
	padding: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.15s;
	display: none;
}
#chat-body #chat-info #back-button:hover{
	background: var(--details_border);
}
#chat-body #chat-info .url{
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--contrast-color);
}
#chat-body #chat-info .chat-icon{
	height: 75%;
	aspect-ratio: 1 / 1;
}
#chat-body #chat-info .chat-icon > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
#chat-body #chat-info .chat-icon > img[src=""]{
	display: none;
}


#chat-body .chat-input{
	padding: 5px;
	display: flex;
	align-items: center;
	background: var(--menu-el);
	transition: 1s;
}
#chat-body .chat-input.readonly{
	display: none;
}
#message-input{
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	resize: none;
	font-size: 14pt;
	min-height: 25px;
	max-height: 175px;
}
.dark #message-input{
	color-scheme: dark;
}
#add-attachment{
	display: flex;
	min-width: 25px;
	margin-right: 5px;
	fill: #5289c1;
	cursor: pointer;
	transition: 0.15s;
	position: relative;
}
#add-attachment:hover{
	fill: #3e7eff;
}

#attachments{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#attachments:has(.attachment){
	width: 100%;
}
#attachments:has(.attachment) ~ #message-input{
	display: none;
}
#attachments .attachment{
	width: 100px;
	height: 100px;
	position: relative;
}
#attachments .attachment img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}
#attachments .attachment .remove{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	transition: 0.15s;
	cursor: pointer;
	color: white;
}
#attachments .attachment .remove:hover{
	color: hotpink;
}

#send{
	height: 25px;
	width: 25px;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.25s;
}
#send > svg{
	height: 100%;
	fill: #5289c1;
	transition: 0.25s;
}
#send:hover > svg{
	fill: #3e7eff;
}
#send.disabled{
	pointer-events: none;
	filter: grayscale(0.75);
}


#chat-body #messages{
	overflow: auto;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14pt;
}
#chat-body #messages.smooth{
	scroll-behavior: smooth;
}
#chat-body .message{
	margin: 6px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
#chat-body .message.from-me{
	justify-content: flex-end;
}
#chat-body .message.info{
	text-align: center;
	font-size: 0.75em;
	user-select: none;
	justify-content: center;
}
#chat-body .message .helper{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgb(100, 100, 100, 0.75);
	cursor: pointer;
	color: white;
	position: relative;
}
#chat-body .message:hover .helper,
#chat-body .message.hovered .helper{
	display: flex;
}
#chat-body .message .helper-body{
	position: absolute;
	background: rgb(100, 100, 100, 0.75);
	top: 50%;
	left: calc(100% + 6px);
	transform: translateY(-50%) scale(0);
	padding: 5px 10px;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.65, -0.55, 0.25, 1.55);
}
#chat-body .message.from-me .helper-body{
	left: unset;
	right: calc(100% + 6px);
}
#chat-body .message .helper-body.show{
	visibility: visible;
	transform: translateY(-50%) scale(1);
	opacity: 1;
}
#chat-body .message.from-me .helper{
	order: -1;
}
#chat-body .message-body{
	display: inline-flex;
	flex-direction: column;
	gap: 3px;
	background: var(--foreign-message);
	max-width: 50%;
	padding: 6px 8px;
	border-radius: 10px;
	text-align: left;
	transition: 1s;
	color: var(--contrast-color);
}
#chat-body .message-body .tail{
	display: inline-flex;
	flex-direction: column;
}
#chat-body .message.info .message-body{
	background: var(--info-message);
}
#chat-body .message.info.new .message-body{
	background: var(--info-message-new);
}
#chat-body .message.from-me .message-body{
	background: var(--my-message);
}
#chat-body .message-body .user{
	font-size: 0.75em;
	font-weight: bold;
	user-select: none;
}
#chat-body .message-body .text{
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-all;
}
#chat-body .message-body .text img{
	width: 100%;
	max-height: 40vh;
	border-radius: 6px;
	object-fit: cover;
}
#chat-body .message-body .text > *{
	color: var(--contrast-color);
	width: 100%;
}
#chat-body .message-body time{
	align-self: flex-end;
	font-family: monospace;
	font-size: 0.65em;
	user-select: none;
}

#messages-container{
	position: relative;
	overflow: hidden;
	height: 100%;
}
#scroll-bottom{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00C0FF;
	position: absolute;
	bottom: -50%;
	right: 12px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
}
#scroll-bottom.show{
	bottom: 6px;
	opacity: 1;
}

#new-chat-popup{
	background: var(--body-color);
	width: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 16px;
	padding: 20px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	filter: drop-shadow(2px 4px 6px black);
	transition: all 0.5s cubic-bezier(0.65, -0.55, 0.25, 1.55), background 0.75s;
	opacity: 0;
	visibility: hidden;
	color: var(--contrast-color);
}
#new-chat-popup.show{
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}
#new-chat-popup > *{
	margin: 0;
}
#new-chat-popup input{
	align-self: stretch;
	text-align: center;
	font-size: 14pt;
	line-height: 24pt;
	border-radius: 24px;
}


#media-fullscreener{
	background: rgb(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
#media-fullscreener.hide{
	display: none;
}
#media-fullscreener .close{
	font-size: 24pt;
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
}
#media-fullscreener .close:hover{
	color: red;
}
#media-fullscreener img{
	max-height: 90%;
	max-width: 90%;
	object-fit: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Phone  */
@media all and (max-width: 500px) {
	#chats{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		transform: translateX(-100%);
	}
	#chats.show{
		transform: translateX(0);
	}
	#chat-body #chat-info #back-button{
		display: block;
	}
	#chat-body .message-body{
		max-width: 60%;
	}	
	#new-chat-popup{
		width: 99%;
	}
	#attachments:has(.attachment:nth-last-child(n+3)){
		justify-content: center;
	}
	#media-fullscreener img{
		max-width: 100%;
	}
}
