html{
	overflow: hidden;
}
:root{
	--my-message: lightblue;
	--foreign-message: #bc76ff;
	--info-message: #00c0ff;
	--info-message-new: hotpink;
	--message-not-readed: red;
	--message-readed: blue;
	--button-hover: rgb(200,200,200, 0.5);
	--button-active: rgb(125,125,125, 0.5);
	--message-highlight: hotpink;
}
.dark:root{
	--my-message: #2a2aa7;
	--foreign-message: #6e18c0;
	--info-message: #3e7eff;
	--info-message-new: red;
	--message-readed: lime;
	--button-hover: rgb(125,125,125, 0.5);
	--button-active: rgb(200,200,200, 0.5);
}
#chats-wrapper{
	display: flex;
	top: 70px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	background: url("/root_/images/messenger/chat-background-light.png");
	background-size: cover;
}
.dark #chats-wrapper{
	background: url("/root_/images/messenger/chat-background-dark.jpg");
	background-size: cover;
}
#chats{
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px 0;
	width: 25%;
	min-width: 300px;
	background: var(--details_content);
	transition: all 1s, transform 0.5s;
	overflow: hidden;
	white-space: nowrap;
	overflow: auto;
}
#chats .chat{
	height: 55px;
	min-height: 55px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 6px;
	cursor: pointer;
	transition: background 0.12s, color 1s;
	color: var(--contrast-color);
	position: relative;
}
#chats .chat:hover{
	background: var(--details_border);
}
#chats .chat.active{
	background: var(--details_border);
}
#chats .chat > .chat-name{
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 80px);
}
#chats .chat > .chat-icon{
	height: 90%;
	aspect-ratio: 1 / 1;
	position: relative;
}
#chats .chat > .chat-icon > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
#chats .chat > .chat-icon:after,
#chat-info .chat-icon:after{
	content: '';
	filter: drop-shadow(0 0 2px black);
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	top: 75%;
	right: 0;
	transition: 0.3s;
	transform: scale(0);
}
#chats .chat.online > .chat-icon:after,
#chat-info .chat-icon.online:after{
	background: lime;
	transform: scale(1);
}
#chats .chat .notification-dot{
	position: absolute;
	right: 5px;
}
#chats .chat .notification-dot.hidden{
	opacity: 0;
}


#chat-body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
	min-width: 0;
}
#chat-body.show{
	opacity: 1;
}
#chat-body #chat-info{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	background: var(--menu-el);
	color: var(--contrast-color);
	position: relative;
	font-size: 14pt;
	transition: 1s;
}
#chat-body #chat-info .chat-info-button{
	padding: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.15s;
}
#chat-body #chat-info .chat-info-button:hover{
	background: var(--button-hover);
}
#chat-body #chat-info .chat-info-button:active{
	background: var(--button-active);
}
#chat-body #chat-info #back-button{
	position: absolute;
	left: 5px;
}
#chat-body #chat-info #clear-chat{
	position: absolute;
	right: 5px;
}
#chat-body #chat-info #clear-chat:hover{
	background: rgb(255, 80, 70, 0.5);
}
#chat-body #chat-info #clear-chat:active{
	background: rgb(255, 80, 70, 0.75);
}
#chat-body #chat-info .url{
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--contrast-color);
}
#chat-body #chat-info .chat-icon{
	height: 75%;
	aspect-ratio: 1 / 1;
	position: relative;
}
#chat-body #chat-info .chat-icon > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
#chat-body #chat-info .chat-icon > img[src=""]{
	display: none;
}


#chat-body .chat-input{
	background: var(--menu-el);
	transition: 1s;
}
#chat-body .chat-input-main{
	padding: 5px;
	display: flex;
	align-items: center;
}
#chat-body .chat-input.readonly{
	display: none;
}
#message-input{
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	resize: none;
	font-size: 14pt;
	min-height: 25px;
	max-height: 175px;
}
.dark #message-input{
	color-scheme: dark;
}
#add-attachment{
	display: flex;
	min-width: 25px;
	margin-right: 5px;
	fill: #5289c1;
	cursor: pointer;
	transition: 0.15s;
	position: relative;
}
#add-attachment:hover{
	fill: #3e7eff;
}

#attachments{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#attachments:has(.attachment){
	width: 100%;
}
#attachments:has(.attachment) ~ #message-input{
	display: none;
}

#attachments.drag{
	width: 100%;
	border: 2px dashed;
	border-radius: 17px;
	padding: 5px;
}
#attachments.drag:after{
	content: '+';
	display: flex;
	height: 100px;
	width: 100px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color: #26cc00;
	border: 3px dashed;
	border-radius: 12px;
	font-size: 40px;
}
#attachments.drag ~ #message-input{
	display: none;
}

#attachments .attachment{
	width: 100px;
	height: 100px;
	position: relative;
	filter: drop-shadow(0 0 2px black);
}
#attachments .attachment img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}
#attachments .attachment .remove{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	transition: 0.15s;
	cursor: pointer;
	color: white;
	filter: drop-shadow(0 0 2px black);
}
#attachments .attachment .remove:hover{
	color: hotpink;
}

#quotes{
	display: none;
	align-items: center;
	padding: 10px;
	position: relative;
}
#quotes.show{
	display: flex;
}
#quotes:before{
	content: '';
	min-width: 4px;
	background: #00C0FF;
	border-radius: 6px;
	height: 80%;
	position: absolute;
}
#quotes .edit-icon{
	color: #00C0FF;
	display: none;
}
#quotes[edit-mode] .edit-icon{
	display: block;
}
#quotes[edit-mode]:before{
	display: none;
}

#quotes #quote_message{
	padding: 5px 15px;
	max-height: 60px;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
}
#quotes #quote_message img,
#quotes #quote_message iframe{
	width: 60px;
	object-fit: contain;
	background: black;
	border-radius: 6px;
	filter: drop-shadow(0 0 2px rgb(0, 0, 0, 0.5));
	margin-right: 10px;
	user-drag: none;
	-webkit-user-drag: none;
}
#quotes #cancel_quote{
	cursor: pointer;
	min-width: 25px;
	min-height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.16s;
}
#quotes #cancel_quote:hover{
	background: rgb(255, 80, 70, 0.75);
}

#send{
	height: 25px;
	width: 25px;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.25s;
}
#send > svg{
	height: 100%;
	fill: #5289c1;
	transition: 0.25s;
}
#send:hover > svg{
	fill: #3e7eff;
}
#send.disabled{
	pointer-events: none;
	filter: grayscale(0.75);
}


#chat-body #messages{
	overflow: auto;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14pt;
}
#chat-body #messages.smooth{
	scroll-behavior: smooth;
}
#chat-body .message{
	margin: 6px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
#chat-body .message.from-me{
	justify-content: flex-end;
}
#chat-body .message.info{
	text-align: center;
	font-size: 0.75em;
	user-select: none;
	justify-content: center;
}
#chat-body .message .helper{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgb(100, 100, 100, 0.75);
	cursor: pointer;
	color: white;
	position: relative;
	user-select: none;
	z-index: 2;
}
#chat-body .message:hover .helper,
#chat-body .message.hovered .helper{
	display: flex;
}
#chat-body .message .helper-body{
	display: flex;
	flex-direction: column;
	cursor: auto;
	position: absolute;
	background: rgb(100, 100, 100, 0.75);
	top: 50%;
	left: calc(100% + 6px);
	transform: translateY(-50%) scale(0);
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.65, -0.55, 0.25, 1.55);
}
#chat-body .message .helper-body.topper{
	top: -50%;
	transform: none !important;
}
#chat-body .message .helper-body.bottomer{
	top: 100%;
	transform: translateY(-100%) !important;
}

#chat-body .message.from-me .helper-body{
	left: unset;
	right: calc(100% + 6px);
}
#chat-body .message.from-me .helper{
	order: -1;
}
#chat-body .message .helper-body.show{
	visibility: visible;
	transform: translateY(-50%) scale(1);
	opacity: 1;
}
#chat-body .message .helper-body > *{
	display: flex;
	gap: 5px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 8px;
	transition: 0.15s;
}
#chat-body .message .helper-body > * > .icon{
	height: 24px;
	min-width: 24px;
	max-width: 24px;
	text-align: center;
}

#chat-body .message .helper-body > *:hover{
	background: rgb(50, 50, 50, 0.5);
}
.dark #chat-body .message .helper-body > *:hover{
	background: rgb(150, 150, 150, 0.75);
}

#chat-body .message .helper-body > [action="delete"]:hover{
	background: rgb(255, 80, 70, 0.75);
}

#chat-body .message-wrapper{
	max-width: 40%;
	position: relative;
}
#chat-body .reply-absolute{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(100, 100, 100, 0.75);
	color: white;
	width: 25px;
	height: 25px;
	font-size: 15px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}
#chat-body .message-body{
	display: inline-flex;
	flex-direction: column;
	gap: 3px;
	background: var(--foreign-message);
	padding: 6px 8px;
	border-radius: 10px;
	text-align: left;
	transition: 1s;
	color: var(--contrast-color);
	z-index: 1;
	position: relative;
}
#chat-body .message-body .tail{
	display: inline-flex;
	flex-direction: column;
}
#chat-body .message-body .reply-to-message{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	padding: 2px 0;
	padding-left: 10px;
	margin-bottom: 2px;
	cursor: pointer;
}
#chat-body .message-body .reply-to-message:before{
	content: '';
	width: 4px;
	background: #00C0FF;
	border-radius: 6px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
#chat-body .message-body .reply-to-message img,
#chat-body .message-body .reply-to-message iframe{
	height: 30px;
	max-width: 40px;
	object-fit: cover;
	background: black;
	border-radius: 5px;
	filter: drop-shadow(0 0 2px rgb(0, 0, 0, 0.5));
	margin-right: 5px;
	user-drag: none;
	-webkit-user-drag: none;
	vertical-align: middle;
}

#chat-body .message-body .tail .text:has(img){
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	margin-bottom: 2px;
}
#chat-body .message-body .tail .text:has(img) :last-child:nth-child(odd) {
	grid-column: span 2;
}
#chat-body .message.info .message-body{
	background: var(--info-message);
}
#chat-body .message.info.new .message-body{
	background: var(--info-message-new);
}
#chat-body .message.from-me .message-body{
	background: var(--my-message);
}
#chat-body .message.highlight .message-body{
	transition: 0.5s;
	background: var(--message-highlight);
}
#chat-body .message-body .user{
	font-size: 0.75em;
	font-weight: bold;
	user-select: none;
}
#chat-body .message-body .text{
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-word;
}
#chat-body .message-body .text img{
	width: 100%;
	height: 100%;
	max-height: 35vh;
	border-radius: 6px;
	object-fit: cover;
}
#chat-body .message-body .text iframe{
	border-radius: 8px;
}
#chat-body .message-body .text > *{
	color: var(--contrast-color);
	width: 100%;
}
#chat-body .message-body time{
	align-self: flex-end;
	font-family: monospace;
	font-size: 0.65em;
	user-select: none;
}
#chat-body .message.from-me .message-body time:before{
	content: '';
	display: block;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}
#chat-body .message.from-me.not-readed .message-body time:before{
	background: var(--message-not-readed);
}
#chat-body .message.from-me.readed .message-body time:before{
	background: var(--message-readed);
}

#messages-container{
	position: relative;
	overflow: hidden;
	height: 100%;
}
#scroll-bottom{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00C0FF;
	color: white;
	position: absolute;
	bottom: -50%;
	right: 12px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
}
#scroll-bottom.show{
	bottom: 6px;
	opacity: 1;
}

.popup{
	background: var(--body-color);
	width: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 16px;
	padding: 20px 10px;
	box-sizing: border-box;
	filter: drop-shadow(2px 4px 6px black);
	transition: all 0.5s cubic-bezier(0.65, -0.55, 0.25, 1.55), background 0.75s;
	opacity: 0;
	visibility: hidden;
	color: var(--contrast-color);
	max-height: 81%;
	overflow: auto;
}
.popup.show.show{
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}
.close_popup{
	height: 35px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	transition: all 0.3s, background 0s;
	z-index: 5;
	background: inherit;
	border-radius: 50%;
}
.close_popup:hover{
	transform: rotate(-90deg);
}

#new-chat-popup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
#new-chat-popup > *{
	margin: 0;
}
#new-chat-popup input{
	align-self: stretch;
	text-align: center;
	font-size: 14pt;
	line-height: 24pt;
	border-radius: 24px;
}

#settings-popup{
	font-size: 14pt;
}
#settings-popup fieldset{
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 15px;
}
#settings-popup fieldset:first-of-type{
	margin-top: 0;
}
#settings-popup label, #settings-popup label input:not([type="text"]){
	cursor: pointer;
}


#media-fullscreener{
	background: rgb(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
#media-fullscreener.hide{
	display: none;
}
#media-fullscreener .close{
	font-size: 24pt;
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
	filter: drop-shadow(0 0 2px black);
}
#media-fullscreener .close:hover{
	color: red;
}
#media-fullscreener img{
	max-height: 90%;
	max-width: 90%;
	object-fit: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#media-fullscreener .previous,
#media-fullscreener .next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin: 0 6px;
	cursor: not-allowed;
	outline: none;
	border: none;
	opacity: 0.5;
	transition: 0.25s;
	user-select: none;
	display: none;
}
#media-fullscreener .previous:not([disabled]),
#media-fullscreener .next:not([disabled]){
	cursor: pointer;
	display: block;
}
#media-fullscreener .previous:not([disabled]):hover,
#media-fullscreener .next:not([disabled]):hover{
	opacity: 1;
}
#media-fullscreener .previous{
	left: 0;
}
#media-fullscreener .next{
	right: 0;
}

#qrcode{
	display: flex;
	margin: auto;
	margin-top: 5px;
	filter: drop-shadow(0 0 5px grey);
	border-radius: 7px;
	overflow: hidden;
	transition: 0.5s;
	animation: rotateQR 8s infinite linear;
}
@keyframes rotateQR{
	0%{
		transform: perspective(900px) rotate3d(1, 0, 0, 6deg);
	}
	12.5%{
		transform: perspective(900px) rotate3d(1, 1, 0, 6deg);
	}
	25%{
		transform: perspective(900px) rotate3d(0, 1, 0, 6deg);
	}
	37.5%{
		transform: perspective(900px) rotate3d(-1, 1, 0, 6deg);
	}
	50%{
		transform: perspective(900px) rotate3d(-1, 0, 0, 6deg);
	}
	62.5%{
		transform: perspective(900px) rotate3d(-1, -1, 0, 6deg);
	}
	75%{
		transform: perspective(900px) rotate3d(0, -1, 0, 6deg);
	}
	87.5%{
		transform: perspective(900px) rotate3d(1, -1, 0, 6deg);
	}
	100%{
		transform: perspective(900px) rotate3d(1, 0, 0, 6deg);
	}
}
.dark #qrcode{
	filter: drop-shadow(0 0 5px lightgrey);
}
#qrcode svg :last-child{
	fill: #00c0ff;
	transition: 0.5s;
}
.dark #qrcode svg :last-child{
	fill: #13181e;
}

#userURL{
	color: var(--contrast-color);
	font-size: 12pt;
	font-family: monospace;
	width: 256px;
	margin: 5px auto;
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
	user-select: none;
}
#userURL:hover{
	text-decoration: underline;
}

#settings-popup .prompt{
	display: flex;
	background: var(--button-hover);
	border-radius: 10px;
	margin: 5px 0;
}
#settings-popup .prompt.hide{
	display: none;
}
#settings-popup .prompt:before{
	content: '';
	background: red;
	width: 10px;
	margin-right: 10px;
	border-radius: 10px 0 0 10px;
}
#settings-popup .prompt > *{
	padding: 5px 0;
}
#settings-popup .prompt > * > a{
	color: var(--contrast-color);
}



/* Phone  */
@media all and (max-width: 500px) {
	#chats{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		transform: translateX(-100%);
	}
	#chats.show{
		transform: translateX(0);
	}
	#chat-body #chat-info #back-button{
		display: block;
	}
	#chat-body .message-wrapper{
		max-width: 65%;
	}	
	.popup{
		width: 99%;
	}
	#attachments:has(.attachment:nth-last-child(n+3)){
		justify-content: center;
	}
	#media-fullscreener img{
		max-width: 100%;
	}
	#media-fullscreener .previous,
	#media-fullscreener .next{
		width: 30px;
		height: 30px;
		margin: 0 5px;
	}
	#media-fullscreener .previous:not([disabled]):hover,
	#media-fullscreener .next:not([disabled]):hover{
		opacity: 0.5;
	}
	#media-fullscreener .previous:not([disabled]):active,
	#media-fullscreener .next:not([disabled]):active{
		opacity: 1;
	}

	#chat-body .message-body .tail .text:has(img){
		grid-template-columns: 1fr;
	}
	#chat-body .message .helper-body > *{
		padding: 10px 10px;
	}
	#chat-body .message .helper-body.hide-caption > * > .caption{
		display: none;
	}
}
@media all and (max-height: 500px) {
	#chats{
		min-width: 0;
		width: 82px;
		transition: all 0.5s;
	}
	#chats.show{
		min-width: 100%;
		width: 100%;
	}
	#chats:not(.show) .chat > .chat-name{
		display: none;
	}
}

/* Title display for mobile */
@media (pointer: coarse), (hover: none) {
	#userURL::after{
		top: 100%;
	}
}
